* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2  {
    background: rgb(36, 34, 181);
    padding: 14px;
    border-radius: 10px;
    color: white;
}
.footer__content{
    min-width: 60px;
}

.container {
    max-width: 3280px;
    margin: 0 auto;
}

.block {
    background: #fff;
    box-shadow: 0px 0px 0px #b5b5b5;
    padding: 40px;
}


.block > p {
    color: rgb(90, 51, 90);
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 3px solid rgb(90, 51, 90);
}

.inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.getter__block {
    text-align: center;
    width: 392px;
    border: 2px solid rgb(90, 51, 90);
    padding: 20px 30px;
    text-decoration: none;
}

.getter__block > p {
    font-size: 16px;
    color: rgb(90, 51, 90);
    font-weight: 700;
}

.views {
    margin: 0px 150px;
}

.line {
    width: 100%;
    height: 80px;
    background: rgb(90, 51, 90);
    margin-top: 500px;

}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    padding: 0;
    z-index: 9999999;
}

.modal:target {
    opacity: 1; /* делаем окно видимым */
      pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal1 {
    z-index: 9999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    padding: 0;
}

.modal1:target {
    opacity: 1; /* делаем окно видимым */
      pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 10px solid #785a95;
    border-radius: .3rem;
    outline: 0;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

.modal-title {
    color: #9670ba;
    font-size: 44px;
    font-weight: 700;
    margin: 10px 0px;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 0.5;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
    background: #000;
    padding: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body > p {
    font-size: 28px;
}

.back {
    background: #785a95;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: block;
        position: fixed;
        z-index: 1500;
        top: 40%;
        font-size: 1.2em;
        text-align: center;
        padding: 10px 20px;
        border: 1px solid #fff;
    }

.place__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.titles{
    background: #fff;
    box-shadow: 1px 1px 7px #b5b5b5;
    padding: 40px;
}
.head__content{
     border-right: 2px solid #cecece;
    padding-right: 30px;
    font-size: 20px;
    color: #5a335a;
    
    
}

.quiz__footer {
    background: #9670ba;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    width-left: 0px;
}

.place__body {
    margin: 15px 0px;
}

.place__btn {
    border: 0px;
    color: #fff;
    padding: 10px 35px;
    background: #785a95;
    margin: 10px 0px;
    font-size: 19px;
    border-radius: 10px;
    float: right;
}

.place__line {
    background: #785a95;
    height: 70px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.timer {
    font-size: 20px;
    color: #fff;
}

.place__back {
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
}

.place__circle > div {
    box-shadow: 0px 0px 7px #cecece;
    width: 500px;
    height: 75px;
    margin: 50px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.pl__circle {
    border-radius: 40px;
    width: 30px;
    height: 30px;
    background: #785a95;
}

.button
{
    box-shadow: 0px 0px 7px #cecece;
    text-align:center;
    min-width: 650px; 
    min-height: 105 px;
    margin: 15px 10px;
    border-radius: 10px;
    border-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 100px;
    font-size: 14pt;
    color: #5a335a;
    position: relative;
    white-space: pre-line;
left: 50%;
transform: translate(-50%, 0);
    
white-space:normal !important;
    word-wrap:break-word;
}

.buttons__content> div {
    box-shadow: 0px 0px 7px #cecece;
    min-width: 650px;
    min-height: 105px;
    margin: 50px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    
}

.button_wrong 
{
    background: #EB6465;
}

.button_correct
{
    background: #5EB97D;
}

.button_passive
{
    background: #B3B3B3;
}